<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBB98mKt8sOvfe8f3Vvp7V5mRT9evPGTmA</string>
	<key>GCM_SENDER_ID</key>
	<string>268105183404</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.norskTolk</string>
	<key>PROJECT_ID</key>
	<string>translationapp-621e9</string>
	<key>STORAGE_BUCKET</key>
	<string>translationapp-621e9.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268105183404:ios:0ca7505c0b2fc0056f6f09</string>
</dict>
</plist>